/* Общие стили */

body {
  margin: 0;
  padding: 0;
  
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  
  background-color: #F0F1F3;
}

.visually-hidden {
  display: none;
}

a {
  color: #fff;
  text-decoration: none;
}

/* HEADER */

.page-header {
  position: relative;
  
  background-color: #242D36;
  
  color: white;
}

.page-header__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  padding-bottom: 30px;
}

@media (min-width: 525px) {
  .page-header__top {
    justify-content: space-between;
  }
}

.logo {
  margin-right: 45px;
  
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  
  color: #F0F1F3;
}

@media (min-width: 525px) {
  .logo {
    font-size: 30px;
    line-height: 30px;
  }
}

.contact {
  display: none;
  box-sizing: border-box;
  padding-left: 35px;
  
  text-align: left;
  
  font-size: 16px;
}

.contact__phone,
.contact__email {
  position: relative;
}

.contact__phone {
  margin-bottom: 5px;
}

.contact__email {
  display: block;
}

.contact__phone::before,
.contact__email::before {
  content: "";
  
  position: absolute;
  left: -30px;
  top: 2px;
  
  display: table;
  width: 20px;
  height: 20px;
  
  background-color: #fff;
}

.page-header__checkbox {
  display: none;
}

.page-header__label {
  position: absolute;
  top: 50%;
  right: 25px;
  
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  
  font-size: 0;
  
  background-image: url("../img/icon_burger.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  cursor: pointer;
}

@media (min-width: 525px) {
  .page-header__label {
    display: none;
  }
}

#burger:checked ~ .page-header__label {
  background-image: url("../img/icon_cross.png");
}

.main-menu {
  position: absolute;
  top: 100%;
  left: 0;
  
  display: none;
  padding: 0;
  width: 100%;
  
  background-color: #F45145;
}

#burger:checked ~ .main-menu {
  display: block;
}

@media (min-width: 525px) {
  .main-menu {
    display: block;
  }
}

.main-menu__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  
  list-style: none;
}

@media (min-width: 525px) {
  .main-menu__list {
    flex-direction: row;
  }
}

.main-menu__link { 
  display: block;
  padding: 10px 25px;
  
  color: #FAB9A5;
  
  border-bottom: 1px solid #FAB9A5;
}

.main-menu__link:hover {  
  color: #fff;
}

.main-menu__item--active .main-menu__link {
  color: #fff;
}

